@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hover-transition ($duration: 0.3) {
  transition: $duration;
}

@mixin skills-background($skill-name) {
  grid-area: $skill-name;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../images/img-#{$skill-name}.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform 1s ease;

    &:hover {
      transform: scale(1.2);
    }

  }
}




