.posts {
    // height: 100vh;
    padding-top: 100px;
    margin-bottom: 100px;

    &__container {
        display: grid;
        grid-template-areas:
            'nostrum nostrum lorem eum'
            'voluptate facere ratione ratione'
        ;
        gap: 10px;
        padding: 10px;

        @media screen and (max-width: 992px) {
            grid-template-areas:
                'nostrum nostrum lorem'
                'eum voluptate voluptate'
                'facere facere ratione'
            ;
        }

        @media screen and (max-width: 768px) {
            grid-template-areas:
                'nostrum lorem'
                'eum voluptate'
                'facere ratione'
            ;
        }

        @media screen and (max-width: 576px) {
            grid-template-areas:
                'nostrum'
                'lorem'
                'eum'
                'voluptate'
                'facere'
                'ratione'
            ;

        }
    }


    &__img {
        width: 100%; // makes it scale with the grid cell
        height: 300px; // keeps correct aspect ratio
        object-fit: cover; // (optional) trims it nicely if you set a fixed height
        display: block;
    }


    &__heading {
        margin-bottom: 54px;
        padding-left: 10px;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: 0.1em;
    }

    &__item {
        &:first-of-type {
            grid-area: nostrum;
        }

        &:nth-of-type(2) {
            grid-area: lorem;
        }

        &:nth-of-type(3) {
            grid-area: eum;
        }

        &:nth-of-type(4) {
            grid-area: voluptate;
        }

        &:nth-of-type(5) {
            grid-area: facere;
        }

        &:nth-of-type(6) {
            grid-area: ratione;
        }

    }

    &__item-pic {
        // min-height: 300px;


    }

    &__item-text {
        @include flex-center;
        height: 250px;
        background-color: #EEEEEE;
        flex-direction: column;
        text-align: center;
    }

    &__item-heading {
        font-size: 18px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0.05em;
        text-align: center;
    }

    &__item-desc {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        padding: 30px;
    }
}