        // &__input {
        //     // @include flex-center;
        //     // width: 420px;
        //     height: 60px;
        //     background-color: rgba($color-primaty, 0.8);
        //     border-bottom: 2px solid white;
        //     color: white;
        //     font-size: 1.125rem;
        //     background-color: rgba(white, 0.1);
        //     // padding-right: 20px;


        // &__button {
        //     // @include flex-center;
        //     // width: 420px;
        //     height: 60px;
        //     background-color: rgba(white, 0.1);
        //     color: white;
        //     border-bottom: 2px solid white;
        //     // flex-wrap: wrap;

        .subscribe {
            background-color: #2D3651;
            min-height: 120px;
            display: flex;
            justify-content: center;
            align-items: center;


            &__input,
            &__button {
                min-height: 60px;
                background-color: rgba(white, 0.1);
                color: white;
                border-bottom: 2px solid white;
                width: 100%;
            }

            &__form {
                width: 100%;
                display: grid;
                grid-auto-flow: column;
                gap: 19px;
            }

            @media screen and (max-width: 768px) {
                padding-top: 20px;
                padding-bottom: 20px;

                &__form {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 60px 60px;
                }

                &__input:first-of-type {
                    grid-column: 1 / span 2;
                }
            }

            @media screen and (max-width: 576px) {
                &__form {
                    gap: 0;
                    row-gap: 19px;
                    grid-template-columns: 1fr;
                    grid-template-rows: 60px 60px 60px;

                }


            }

            &__button {

                &:hover {
                    background-color: $color-accent-primary;
                }
            }
        }