// colors

$color-primaty: #2D3651;
$color-seconadary: #E5E5E5;
$color-text-main: #637588;
$color-accent-primary:#d66926;
$color-accent-secondary: #d53d27;
$color-white: #ffffff;

// fonts 

$title-font: Roboto Slab, sans-serif;
$general-font: Roboto, sans-serif;
$font-size-general: 16px;


